<h1>Listing funs</h1>

<table>
  <tr>
    <th>Crazy time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @funs.each do |fun| %>
  <tr>
    <td><%= fun.crazy_time %></td>
    <td><%= link_to 'Show', fun %></td>
    <td><%= link_to 'Edit', edit_fun_path(fun) %></td>
    <td><%= link_to 'Destroy', fun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fun', new_fun_path %>
